<p>
  <b>Type:</b>
  <%= type %>
</p>

<p>
  <b>Tag:</b>
  <%= tag %>
</p>

<p>
  <b>Link:</b>
  <%= link %>
</p>

<p>
  <b>Image:</b>
  <%= image %>
</p>

<p>
  <b>Username:</b>
  <%= username %>
</p>

<p>
  <b>Tagged at:</b>
  <%= tagged_at %>
</p>


<a href="#/index">Back</a>